.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sec {
    padding: 120px 0;
}

.sec .title {
    max-width: 1200px;
    margin: 0 auto 40px auto;
    padding: 0 15px;
}

.sec .title h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px 0;
}

.sec .title p {
    font-size: 16px;
    font-weight: 400;
}