/* * {
    outline: 1px solid tomato;
} */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    line-height: 80px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.header:hover {
    background: #fff;
    color: #000;
}

.header.on {
    background: #fff;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header:hover h1 {
    background: url(../images/logo_color.png) no-repeat center center;
}

.header.on h1 {
    background: url(../images/logo_color.png) no-repeat center center;
}

.header:hover img {
    opacity: 0;
}

.header.on img {
    opacity: 0;
}

.header .header_wrap {
    display: flex;
    padding: 0 80px;
}

.header .header_wrap .gnb {
    white-space: nowrap;
}

.header .header_wrap .gnb::before {
    content: "";
    position: absolute;
    background: #fff;

    top: 80px;
    left: 0;
    right: 0;

    height: 0;
    transition: height 0.3s;
}

.header .header_wrap .gnb:hover::before {
    height: 280px;
    transition: height 0.5s;
}

.header .header_wrap .gnb.on::before {
    height: 280px;
}

.header .header_wrap .gnb>ul {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    gap: 75px;
}

.header .header_wrap .gnb>ul>li {
    position: relative;
}

.header .header_wrap .gnb>ul>li>a {
    position: relative;
    display: block;
}

.header .header_wrap .gnb>ul>li>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 1px;
    background: #0c4ca3;

    margin: 0 auto;

    transition: 0.5s;
}

.header .header_wrap .gnb>ul>li>a:hover::after {
    width: 100%;
}

.header .header_wrap .gnb .sub {
    position: absolute;
    top: 90px;
    left: 0;

    line-height: 40px;
    font-size: 14px;
    color: #000;

    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}

.header .header_wrap .gnb:hover .sub {
    height: 280px;
    transition: height 0.5s;
}

.header .header_wrap .util {
    display: flex;
    gap: 30px;
    margin: 0 0 0 auto;
}

.header .header_wrap .util>ul {
    display: flex;
    gap: 15px;
}

.header .util>ul>li {
    position: relative;
}

.header .util>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-7.5px, -50%);

    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.header:hover .util>ul>li~li::before {
    background: rgba(0, 0, 0, 0.3);
}

.header.on .util>ul>li~li::before {
    background: rgba(0, 0, 0, 0.3);
}

.header .util>ul>li a {
    font-size: 14px;
}

.header .util i {
    font-size: 24px;
    vertical-align: -5px;
}

.main_visual {
    position: relative;
}

.main_visual .visual_slide .itm {
    position: relative;
}

.main_visual .visual_slide .itm .slide {
    display: flex;
    height: 100vh;
    min-height: 600px;
}

.main_visual .visual_slide .itm .slide>* {
    position: relative;
    flex: 1;
}

.main_visual .visual_slide .itm01 .slide {
    background: url(../images/main_slide02.jpg) no-repeat 0 center;
}

.main_visual .visual_slide .itm02 .slide {
    background: url(../images/main_slide03.jpg) no-repeat 0 center;
}

.main_visual .visual_slide .itm03 .slide {
    background: url(../images/main_slide04.jpg) no-repeat 0 center;
}

.main_visual .visual_slide .itm04 .slide {
    background: url(../images/main_slide01.jpg) no-repeat 0 center;
}

.main_visual .visual_slide .itm span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
}

.main_visual .visual_slide .itm.on span {
    width: 100%;
    transition: 1.5s;
}


.main_visual .visual_slide .itm .text_box {
    position: absolute;
    top: 250px;
    left: 200px;
    color: #fff;

}

.main_visual .visual_slide .text_box strong {
    display: inline-block;
    font-size: 18px;
    margin: 0 0 16px 0;
    text-indent: 0.3em;
}

.main_visual .visual_slide .text_box p {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.main_visual .slide_box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(12, 76, 163, 0.7);
    line-height: 80px;
    white-space: nowrap;
}

.main_visual .slide_box .slide_content {
    display: flex;
    color: #fff;
    font-size: 18px;
    margin: 0 200px;
}

.main_visual .slide_box .slide_text {
    margin: 0 auto 0 0;
}

.main_visual .slide_box .slide_text>li {
    display: none;
}

.main_visual .slide_box .slide_text>li.on {
    display: block;
}

.main_visual .slide_box .control {
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 150px;
    margin: 0 24px;
    padding: 0 16px;
}

.main_visual .slide_box .control>button {
    background: transparent;
    border: none;
    color: #fff;
}

.main_visual .slide_box .control .left::before {
    content: "\e93b";
    font-family: xeicon;
}

.main_visual .slide_box .control .right::before {
    content: "\e93e";
    font-family: xeicon;
}

.main_visual .slide_box .control .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;

    width: 41px;
    height: 41px;
    color: #fff;
}

.main_visual .slide_box .control .play::before {
    content: "\ea3b";
    font-family: xeicon;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_visual .slide_box .control .play.on::before {
    content: "\ea3e";
    font-family: xeicon;
}

.main_visual .slide_box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);

    width: 45px;
    height: 45px;
}

.main_visual .slide_box .circle circle {
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 630;
}

.main_visual .slide_box .circle.on circle {
    animation: play 22s;
}

.main_visual .slide_box .circle.stop circle {
    animation-play-state: paused;
}

@keyframes play {
    from {
        stroke-dashoffset: 630;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.main_business .title {
    text-align: center;
}

.main_business .inner {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.main_business .inner .content {
    text-align: center;
}

.main_business .inner figure {
    position: relative;
    text-align: center;
}

.main_business .inner figure::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background: #0c4ca3;
    opacity: 0;
    transition: 0.5s;
}

.main_business .content {
    position: relative;
}

.main_business .content::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    left: 35px;
    width: 30px;
    height: 25px;
    background: #f00;
    box-shadow: 10px 15px 20px 0 #000;

    transform: skewX(-45deg);
    opacity: 0;
    transition: 0.5s;
}

.main_business .content:hover::before {
    opacity: 1;
    top: 80px;
    left: -10px;
}

.main_business .content:hover figure::before {
    opacity: 0.9;
}

.main_business .inner .text_box {
    position: absolute;
    top: 120px;
    left: 35px;
    z-index: 2;

    height: 200px;

    text-align: left;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.main_business .content:hover .text_box {
    opacity: 1;
    transform: translate(0, -20px);
}

.main_business .inner .text_box strong {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;

    margin: 0 0 16px 0;
}

.main_business .inner .text_box p {
    font-size: 14px;
    line-height: 18px;
}

.main_business .inner .img_box {
    margin: 0 0 16px 0;
    overflow: hidden;
}

.main_business .content img {
    transition: 0.3s;
}

.main_business .content:hover img {
    transform: scale(1.5);
    transition: 0.5s;
}

.main_notice {
    background: #f9f9f9;
}

.main_notice .title {
    text-align: center;
}

.main_notice .news_content>li {
    position: relative;

    margin: 0 0 15px 0;
    background: #fff;
}

.main_notice .news_content>li>a {
    display: block;
    padding: 48px 40px;
}

.main_notice .news_content li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: rgba(12, 74, 161, 0.5);
    transition: 0.3s 0.3s;
}

.main_notice .news_content li a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: rgba(12, 74, 161, 0.5);
    transition: 0.3s;
}


.main_notice .news_content li::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: rgba(12, 74, 161, 0.5);
    transition: 0.3s 0.3s;
}

.main_notice .news_content li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: rgba(12, 74, 161, 0.5);
    transition: 0.3s;
}


.main_notice .news_content li:hover a::before {
    width: 100%;
    transition: 0.3s;
}

.main_notice .news_content li:hover a::after {
    height: 100%;
    transition: 0.3s 0.3s;
}


.main_notice .news_content li:hover::before {
    width: 100%;
    transition: 0.3s;
}

.main_notice .news_content li:hover::after {
    height: 100%;
    transition: 0.3s 0.3s;
}

.main_notice .news_content strong {
    display: block;
    font-size: 20px;
    text-indent: -0.1em;

    margin: 0 0 8px 0;
}

.main_notice .news_content span {
    font-size: 12px;
    color: #444;
}

.main_notice .news_content em {
    position: absolute;
    top: 50%;
    right: 96px;
    transform: translate(0, -50%);

    font-size: 14px;
}

.main_notice .news_content em::after {
    content: "\e913";
    font-family: xeicon;
    position: absolute;
    top: 50%;
    right: -48px;
    transform: translate(50%, -50%);
}

.main_news {
    position: relative;
    background: url(../images/news01.jpg) no-repeat fixed center center/cover;
    height: 500px;
}

.main_news::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background: rgba(12, 74, 161, 0.8);
}

.main_news .title h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
}

.main_news .title h2::before {
    content: "";
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 1px;
    height: 40px;

    background: #fff;
}

.main_news .inner strong {
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    font-size: 20px;
    color: #fff;
}

.main_news .inner button {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;

    border: 1px solid #fff;
    background: transparent;
    color: #fff;

    padding: 14px 32px;
    cursor: pointer;
}

.main_cm .title {
    text-align: center;
}

.main_cm .video_box {
    position: relative;
    width: 1170px;
    height: calc(1170px * 9 / 16);
    margin: 0 auto;
    box-shadow: 0px 10px 13px -7px #000000;
}

.main_cm .video_box .control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 32px;
    color: #fff;

    padding: 20px 24px;

    border: none;
    border-radius: 50%;
    background: transparent;
    border: 3px solid #fff;

    opacity: 1;
}

.main_cm .video_box .control.on {
    opacity: 0;
}

.main_cm .video_box .control.on:hover {
    opacity: 1;
}

.main_cm .video_box .control::before {
    content: "\ea3e";
    font-family: xeicon;
}

.main_cm .video_box .control.on::before {
    content: "\ea3b";
    font-family: xeicon;
}

.main_recruit .title {
    text-align: center;
}

.main_recruit .inner {
    display: flex;
    gap: 30px;
}

.main_recruit .inner>* {
    flex: 1;
}